@model DetailsViewModel

@{
    ViewBag.Title = "Details";
}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImageUrl"/></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.Brand @Model.Model</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through" style="display:none">@Model.Price</span>
                    <span>@Model.Price лв.</span>
                </div>
                <p class="lead">@Model.Description</p>
               
                <div class="d-flex">
                    @if (Model.IsAvialable == "Yes" && Model.UnitsInStock != 0 && User.Identity.IsAuthenticated)
                    {
                        <div class="mb-2">
                            <a asp-controller="ShoppingCart" asp-action="AddToBasket" asp-route-id="@Model.Id"  asp-area="" ><i class="fas fa-shopping-cart"></i> Add</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>